<% content_for(:title, @diary.title) %>

<div id="flash-messages" >
  <%= render "shared/flash_messages" %>
</div>

<div class="border rounded-lg shadow-md p-6 w-full max-w-4xl mx-auto">
  <div class="flex items-center space-x-6">
    <!-- ユーザーアイコン -->
     <%= link_to @diary.user do %>
      <%= image_tag @diary.user.profile_picture.url || 'sample.jpg', class: 'w-14 h-14 rounded-full object-cover' %>
     <% end %>
    <!-- タイトルと日付 -->
    <div class="flex-1">
      <h2 class="text-2xl font-semibold"><%= @diary.title %></h2>
      <p class="text-gray-500 text-sm mt-2">
        <%= @diary.created_at.strftime("%Y年%m月%d日 %H:%M") %>
        <% if @diary.weather.present? %>
          <!-- 天気アイコン（天気情報がある場合のみ表示）-->
          <i class="fas 
            <%= 
              case @diary.weather
              when "sunny"
                "fa-sun"
              when "cloudy"
                "fa-cloud"
              when "rainy"
                "fa-umbrella"
              else
                ""
              end 
            %>"></i>
        <% end %>

        <% if @diary.emotion.present? %>
          <!-- 感情アイコン（感情情報がある場合のみ表示）-->
          <i class="fas 
            <%= 
              case @diary.emotion
              when "smile"
                "fa-solid fa-face-smile"
              when "angry"
                "fa-solid fa-face-angry"
              when "sad"
                "fa-solid fa-face-sad"
              when "nomal"
                "fa-solid fa-face-meh"
              else
                ""
              end 
            %>"></i>
        <% end %>
      </p>
    </div>
  </div>

  <!-- 本文 -->
  <div class="border p-6 mt-6 bg-gray-50">
    <%= @diary.body %>
  </div>

  <!-- ボタン -->
  <div class="flex justify-between items-center mt-6">
    <div class="space-x-4">
      <%= link_to t("helpers.submit.edit"), edit_diary_path(@diary), class: "border px-4 py-2 rounded bg-gray-200 hover:bg-gray-300 text-sm" %>
      <%= link_to t("helpers.submit.delete"), diary_path(@diary), id: "button-delete-#{@diary.id}", data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } , class: "border px-4 py-2 rounded bg-gray-200 hover:bg-gray-300 text-sm" %>
    </div>
    
    <div class="flex space-x-6 text-gray-600 items-center">
  
      <% if @diary.is_public? %>
      <!-- ✅ ブックマークボタン & カウント -->
        <div class="flex items-center space-x-1">
          <%= render 'bookmark_buttons', { diary: @diary } %>
        </div>

      <!-- ✅ コメントアイコン & カウント -->
        <div id="comment-count-<%= @diary.id %>" class="flex items-center space-x-1">
          <i class="fas fa-comment"></i>
          <span><%= @diary.comments.count %></span>
        </div>
      <% end %>
    </div>

  </div>
</div>

<div id="table-comment">
  <% if @diary.is_public? %>
    <%= render 'comments/form', comment: @comment, diary: @diary %>
  <% end %>

  <div id="comments-list">
    <% if @diary.is_public? %>
      <%= render partial: 'comments/comment_list', locals: { comments: @comments } %>
    <% end %>
  </div>
</div>

