<% content_for(:title, t('.title')) %>

<div class="flex w-full h-full">
  <!-- ロゴ (左側に右寄せ) -->
  <div class="w-1/2 flex justify-end items-center">
    <div data-layer="HiBiLog" class="Hibilog w-[228px] h-[243px] text-8xl font-bold font-['Inter'] tracking-[9.60px] text-[#ffa306] text-center">
      HiBi<br>Log
    </div>
  </div>

  <!-- 右側 (フォーム) -->
  <div class="w-1/2 flex flex-col items-start space-y-8 p-8">
      <%= form_with model: @user, class: "flex flex-col items-start space-y-6 w-64" do |f| %>
      <!-- 名前 -->
      <div class="flex flex-col w-full">
        <%= f.label :name, t(".name"), class: "text-black text-base font-normal font-['Inter'] tracking-wider mb-1" %>
        <%= f.text_field :name, class: "w-full h-10 bg-white border border-black rounded-md px-2" %>
      </div>
      
      <!-- メールアドレス -->
      <div class="flex flex-col w-full">
        <%= f.label :email, t(".email"), class: "text-black text-base font-normal font-['Inter'] tracking-wider mb-1" %>
        <%= f.email_field :email, class: "w-full h-10 bg-white border border-black rounded-md px-2" %>
      </div>
      
      <!-- パスワード -->
      <div class="flex flex-col w-full">
        <%= f.label :password, t(".password"), class: "text-black text-base font-normal font-['Inter'] tracking-wider mb-1" %>
        <%= f.password_field :password, class: "w-full h-10 bg-white border border-black rounded-md px-2" %>
      </div>
      
      <!-- パスワード確認 -->
      <div class="flex flex-col w-full">
        <%= f.label :password_confirmation, t(".password_confirmation"), class: "text-black text-base font-normal font-['Inter'] tracking-wider mb-1" %>
        <%= f.password_field :password_confirmation, class: "w-full h-10 bg-white border border-black rounded-md px-2" %>
      </div>
      
      <!-- 登録ボタン -->
      <%= f.submit t("helpers.submit.create"), class: "block w-[180px] h-[50px] bg-[#ffa306] text-center flex items-center justify-center text-[#333333] text-xl font-normal font-['Inter'] hover:bg-[#ffb733] transition duration-200" %>
    <% end %>

    <!-- ログインページリンク -->
    <div class="flex justify-start">
      <%= link_to t(".to_login_page"), login_path, class: "text-zinc-800 text-base font-normal font-['Inter']" %>
    </div>
  </div>
</div>
