<!DOCTYPE html>
<html>
  <head>

    <script src="https://kit.fontawesome.com/ec0448f744.js" crossorigin="anonymous"></script>

    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :meta_tags %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="min-h-screen flex flex-col bg-gray-100">
    <% unless @hide_header_footer %>
      <!-- 固定ヘッダー -->
      <header class="fixed top-0 left-0 w-full bg-white h-16 z-50">
        <%= render 'shared/header' %>
      </header>

      <div class="flex flex-1 pt-16"> <!-- pt-16: ヘッダー高さ分のスペースを確保 -->
        <!-- 固定サイドバー -->
        <aside class="fixed top-14 left-0 h-[calc(100vh-4rem)] w-64 bg-gray-200 shadow-lg z-40">
          <%= render 'shared/sidebar' %>
        </aside>

        <!-- メインコンテンツ -->
        <main class="ml-64 w-full p-6">
          <%= yield %>
        </main>
      </div>
    <% else %>
      <%= yield %>
    <% end %>

    <% unless @hide_header_footer %>
      <!-- フッター -->
      <footer class="w-full bg-gray-800 text-white text-center p-4">
        <%= render 'shared/footer' %>
      </footer>
    <% end %>
  </body>

  <% content_for :meta_tags do %>
  <meta property="og:title" content="HiBiLog" />
  <meta property="og:description" content="今日も一つ、心に残るログを。" />
  <meta property="og:image" content="https://diary-application-2.onrender.com/ogp.png" />
  <meta property="og:url" content="https://diary-application-2.onrender.com/" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="HiBiLog" />
  <meta name="twitter:card" content="summary_large_image" />
  <% end %>

</html>
